<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v2.dtd">
<config>
	<module name="controler" >
		<!-- Default=1000;  -->
		<param name="lastIteration" value="2" />
		<!-- Possible values: failIfDirectoryExists, overwriteExistingFiles, deleteDirectoryIfExists -->
		<param name="overwriteFiles" value="deleteDirectoryIfExists" />
		<param name="outputDirectory" value="./output" />
	</module>
	<module name="global" >
		<!-- "global" number of threads.  This number is used, e.g., for replanning, but NOT in the mobsim.  This can typically be set to as many cores as you have available, or possibly even slightly more. -->
		<param name="numberOfThreads" value="4" />
	</module>
	<module name="network" >
		<param name="inputNetworkFile" value="../../data/snf-big-data/from-sebastian/switzerland_network.xml.gz" />
	</module>
</config>
